<ons-popover cancelable>
    <ons-list>
        <ons-list-item modifier="tappable chevron" ng-click="popover_undo_item()">
            {{ 'POPOVER_MOVE_TODO' | translate}}
        </ons-list-item>
        <ons-list-item modifier="tappable chevron" ng-click="popover_clear_completed_list()">
            {{ 'POPOVER_REMOVE' | translate}}
        </ons-list-item>
        <ons-list-item modifier="tappable chevron" ng-click="popover_open_item_page()">
            {{ 'POPOVER_OPEN_PAGE' | translate}}
        </ons-list-item>
    </ons-list>
</ons-popover>