
<ons-page id="welcome_html">
    
    <ons-toolbar>
        <div class="center">{{ 'TITLE' | translate}}</div>
    </ons-toolbar>

    <ons-row>
        
        <ons-button modifier="large--cta" onclick="scan_barcode()">{{ 'SCAN_BARCODE' | translate }}</ons-button>
        <form id="scan_barcode" onsubmit="add_list(this.isbn.value);app.navi.pushPage('list.html');return false;">
        <input type="search" class="search-input" name="isbn"
               placeholder="Search...">
        </form>
    </ons-row>
    
    <div class="tab-bar">
        <label class="tab-bar__item">
            <input type="radio" name="tab-bar-main" checked="checked" />
            <button class="tab-bar__button">
                <i class="tab-bar__icon ion-compose"></i>
                <div class="tab-bar__label">{{ "SCAN_BARCODE" | translate}}</div>
            </button>
        </label>
        
        <label class="tab-bar__item" ng-click="app.navi.pushPage('list.html')">
            <input type="radio" name="tab-bar-main" />
            <button class="tab-bar__button">
                <i class="tab-bar__icon ion-ios-list-outline"></i>
                <div class="tab-bar__label">{{ "BOOK_LIST" | translate}}</div>
            </button>
        </label>
        
        <label class="tab-bar__item" ng-click="app.navi.pushPage('map.html')">
            <input type="radio" name="tab-bar-main" />
            <button class="tab-bar__button">
                <i class="tab-bar__icon ion-map"></i>
                <div class="tab-bar__label">{{ "MAP" | translate}}</div>
            </button>
        </label>
    </div>

</ons-page>