
<ons-page id="welcome_html">

    <ons-toolbar>
        <div class="center">{{ 'TITLE' | translate}}</div>

        <div class="right" ng-click="clear_list()">
            <ons-toolbar-button><i class="icon ion-close-circled"></i>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-row>

        <ons-button modifier="large--cta" onclick="scan_barcode()">{{ 'SCAN_BARCODE' | translate }}</ons-button>
        <form id="scan_barcode" ng-submit="add(this);">
            <input type="search" class="search-input" name="isbn"
                   value="{{isbn}}"
                   placeholder="Search...">
        </form>
        <button ng-click="load_list()" style="display: none" type="button" id="load_list"></button>
    </ons-row>

    <ons-list ng-repeat="location in todo_list">
        <ons-list-item class="location" modifier="chevron" class="list-item-container"  ng-click="open_map(location.location)" ng-show="location.location != ''">
            <div class="list-item-left">
                {{location.location}}
            </div>
            <div class="list-item-right">    
            </div>
        </ons-list-item>
        
        <ons-list-item modifier="tappable" 
                       ng-repeat="item in location.items" ng-click="complete_item(item.id)">
            <label class="checkbox checkbox--list-item">
                <input type="checkbox" />
                <div class="checkbox__checkmark checkbox--list-item__checkmark">
                </div>
                    {{item.title}}
                    {{item.call_number}}
                    {{item.update_timestamp}}
                    {{item.id}}
            </label>
        </ons-list-item>
    </ons-list>



    <!-- ------------------------------------------- -->

    <div class="tab-bar">
        <label class="tab-bar__item">
            <input type="radio" name="tab-bar-main" checked="checked" />
            <button class="tab-bar__button">
                <i class="tab-bar__icon ion-compose"></i>
                <div class="tab-bar__label">{{ "SCAN_BARCODE" | translate}}</div>
            </button>
        </label>

        <label class="tab-bar__item" ng-click="app.navi.replacePage('completed_list.html', {animation: 'none'});load_completed_list()">
            <input type="radio" name="tab-bar-main" />
            <button class="tab-bar__button">
                <i class="tab-bar__icon ion-ios-list-outline"></i>
                <div class="tab-bar__label">{{ "COMPLETED_LIST" | translate}}</div>
            </button>
        </label>
    </div>

</ons-page>