.item {
    padding: 10px;
    line-height: 1;
}

.item-thum {
    background-color: #ccc;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}

.item-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    color: #999;
    float: right;
}

<!--ons-carousel -->
ons-carousel-item {
  display: table;
  text-align: center;
}

.item-label {
  display: table-cell;
  vertical-align: middle;
  color: white;
  line-height: 1;
  font-size: 48px;
  font-weight: bold;
}

.cover-label {
  text-align: center;
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: 10px;
  color: white;
}

ons-carousel ons-carousel-item img {
    width: 100%;
    height: auto;
}


.button-bar {
    margin: 0 auto;
}
.demo-buttons {
    padding: 10px 0;
}

.demo-barcode {
    background-color: rgba(18,114,224,.77);
    color: white;
} 

.demo-search-input {
    width: 90%;
    margin: 0 auto 10px auto;
}

.tab-bar img {
    width: 30%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 5px;
}

.demo-list {
    margin-bottom: 50px;
}
.tab-bar {
    position: fixed;
}

/* ************* **/ 

.login-form {
  text-align: center;
  width: 80%;
  margin: 100px auto 0;
}
input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

/** ******************** */
.demo-menu-search {
    margin-top: 10px;
}

.search-input {
    margin: 10px 0;
    width: calc(100% - 29px);
    height: 34px;
    border-radius: 4px 0 0 4px;
    box-sizing: content-box;
}

body.web-view .search-input {
    height: 38px;
}

body.web-view .fab .ons-icon {
    vertical-align: 0%;
}


#main_html ons-button {
    margin-top: 10px;
}

#scan_barcode {
    width: 100%;
}

ons-list-item.location {
    background-color: #CCC;
}

.now-loading-modal {
    display: none;
}

/**
 * Pattern: Profile
 */

.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
} 

/* --------------------------------- */
/*
.onsen-split-view__secondary {
  width: 200px !important;
}

.onsen-split-view__main {
  width: calc(100% - 200px) !important;
  left: 200px!important
}
*/

.split .page--menu-page .menu-close {
  display: none;
}

@media screen and (min-width: 700px) {
    
.onsen-sliding-menu__menu {
  display: block !important;
  z-index: 3;
  position: absolute;
  touch-action: none;
  transform:none !important;
}

.onsen-sliding-menu__main {
    width: calc(100% - 200px);
    left: 200px;
    z-index: 4;
}

ons-toolbar-button.menu-open,
#menu_html ons-toolbar-button.menu-close {
  display:none;
}
.onsen-sliding-menu__main.menu-open {
  left: 0;
}

}

@media screen and (min-width: 400px) and (max-width: 700px) {
    
.onsen-sliding-menu__menu {
  display: block !important;
  z-index: 3;
  position: absolute;
  touch-action: none;
  transform:none !important;
  width: 40px;
}

.onsen-sliding-menu__menu .menu-label {
  display: none;
}

.onsen-sliding-menu__main {
    width: calc(100% - 40px);
    left: 40px;
    z-index: 4;
}

ons-toolbar-button.menu-open,
#menu_html ons-toolbar-button.menu-close {
  display:none;
}
.onsen-sliding-menu__main.menu-open {
  left: 0;
}

}
