.search-input {
    margin: 10px 0;
    width: calc(100% - 29px);
    height: 34px;
    border-radius: 4px 0 0 4px;
    box-sizing: content-box;
}

body.web-view .search-input {
    height: 38px;
}

#scan_barcode {
    width: 100%;
}

#main_html ons-button {
    margin-top: 10px;
}

ons-list-item.location {
    background-color: #CCC;
}

ons-list ons-list-item.list-item-container .title {
    font-weight: bold;
    display: block;
}

ons-list ons-list-item.list-item-container .call_number {
    font-size: smaller;
    color: blue;
}

ons-list ons-list-item.list-item-container .title-col {
    line-height: normal;
    margin: 0.3rem;
}

ons-list ons-list-item.list-item-container img {
    float: left;
    margin-top: 0.1rem;
}

ons-list ons-list-item.list-item-container ons-col {
    line-height: 48px;
}

ons-list ons-list-item.list-item-container .update_timestamp,
ons-list ons-list-item.list-item-container .id {
    display: none;
}

.scan-help-modal .message {
    display: block;
    margin-bottom: 0.5rem;
}